.main-container {
  /* flex justify-center items-center bg-gray-200 h-full py-40 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(229 231 235);
}

form {
  /* flex gap-4 flex-col items-end */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.form-page {
  /* bg-white p-8 rounded shadow-md grid grid-cols-2 grid-flow-row gap-y-4 */
  background-color: white;
  padding: 2rem;
  border-radius: 0.25rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-flow: row;
  row-gap: 1rem;
}

.form-page__container {
  /* col-span-2 grid gap-4 grid-cols-2 grid-flow-row */
  grid-column: span 2 / span 2;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-flow: row;
}

.button-controller {
  /* flex w-full gap-4 justify-end */
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: flex-end;
}

.confirmation-page__container {
  /* grid gap-4 grid-cols-2 grid-flow-row */
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-flow: row;
  align-content: center;
}

.confirmation-page__text-label {
  color: rgb(156 163 175);
}

/*
Look man, sometimes Tailwind has it right.
*/
.mt-4 {
  margin-top: 1rem;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.items-start {
  align-items: start;
}

.gap-x-4 {
  column-gap: 1rem;
}
