.main-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightslategray;
  height: 100%;
  gap: 2rem;
}

.paper {
  width: 50rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.arrow-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.autocomplete {
  width: 20rem;
}

.results-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.title {
  margin-left: auto !important;
  margin-right: auto !important;
  color: white !important;
}
